<!--<h1><%#= @post.title %></h1>-->
<!--<p><%#= @post.content %></p>-->
<!--<em>Category</em>-->
<!--<ul><%# @post.categories.each do |category| %>-->
<!--    <li><%#= category.name %></li>-->
  <%# end %>
<!--</ul>-->
<!--<br>-->
<!--<em>Comments</em>-->
<%# @post.comments.each do |comment| %>
<!--  <p><%#= comment.user.username %> says: <%#= comment.content %></p>-->
<%# end %>
<!--<p>Users</p>-->
<!--<ul>-->
  <%# @post.users.uniq.each do |user| %>
<!--    <li><%#= link_to user.username, user_path(user) %></li>-->
  <%# end %>
<!--</ul>-->

<!--<h3>Add a New Comment</h3>-->
<%#= form_for(@comment = Comment.new) do |f| %>
  <%#= f.label :content %>
<!--  <%#= f.text_field :content %><br>-->

  <%#= f.label "Username" %>
<!--  <%#= f.collection_select :user_id, User.all, :id, :username, :include_blank => true %><br>-->

  <%#= f.label "New User:" %>
  <%#= f.fields_for :user, @comment.build_user do |user| %>
    <%#= user.text_field :username %>
<!--  <%# end %><br>-->
  <%#= f.hidden_field :post_id, value: @post.id %>
  <%#= f.submit %>
<%# end %>
<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>
<p>
  Categories: <%= @post.categories.map(&:name).join(' ') %>
</p>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%= comment.content %>
    </li>
  <% end %>
</ul>

Commentors:
<ul>
  <% @post.users.distinct.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>

  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>